extends layout

block content
  div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur eius amet in, perspiciatis repellendus nam quasi dolorum possimus praesentium et blanditiis esse vitae fuga dolorem minus nostrum ex modi? Laborum!