extends ../layout

block content
  <form action="/users/create" method="POST">
    <div class="mb-3">
      <label for="username" class="form-label">Username</label>
      <input required type="text" class="form-control" id="username" name="username" autocomplete="off">
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email address</label>
      <input required type="email" class="form-control" id="email" name="email" autocomplete="email">
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password</label>
      <input required type="password" class="form-control" id="password" name="password" autocomplete="new-password">
    </div>
    <div class="mb-3">
      <label for="role" class="form-label">Role</label>
      <select id="role" name="role" class="form-select" aria-label="Default select example">
        <option selected>Open this select menu</option>
        <option value="admin">Admin</option>
        <option value="user">User</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>